#gameWindow {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.gitSection {
  color: grey;
  background: rgba(0, 128, 0, 0.15);
  display: flex;
  flex-direction: row;
}
